.form {
  margin: 0 10%;
  margin-top: 1em;

  padding: 1.5em;
  border: solid black 1px;
  border-radius: 7px;
  background-color: #0ca3a5;

  h1 {
    margin-bottom: 1em;
    font-size: 2em;
    color: white;
  }

  form {
    input {
      display: block;
      border: solid black 1px;
      border-radius: 7px;
      margin-bottom: 1em;
      padding: 1em 2em;
      width: 100%;
      box-sizing: border-box;
      background-color: white;
    }

    .keyword {
      width: 90%;
      float: right;
    }

    .submit-btn {
      border-radius: 7px;
      background-color: rgb(100, 197, 100);
      color: white;
      border: none;
      padding: 1em 2em;
      width: 100%;

      &:hover {
        background-color: rgb(53, 156, 53);
        cursor: pointer;
      }
    }
  }
}
