
.forms {

    margin: 0 30%;
    margin-top: 1em;

    padding: 1.5em;
    border: solid black 1px;
    border-radius: 7px;
    background-color: #0CA3A5;

    .log-in {

        margin-bottom: 1.5em;

    }

    div {
    
        h1 {

            margin-bottom: 1em;
            font-size: 2em;
            color: white;

        }

        form { 

            margin: 0 auto;
            width: 100%;
        
            input {

                border: solid black 1px;
                border-radius: 7px;
                margin-bottom: 1em;
                padding: 1em 2em;
                width: 100%;
                box-sizing: border-box;

            }

            .submit-btn {

                border-radius: 7px;
                background-color: rgb(100, 197, 100);
                color: white;
                border: none;
                padding: 1em 2em;
                width: 100%;

                &:hover {

                    background-color: rgb(53, 156, 53);
                    cursor: pointer;

                }

            }

        }

    }

    .bar {

        border: solid white 1px;
        margin-bottom: 1em;
    
    }

}

