@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap%27");
@import url("https://meyerweb.com/eric/tools/css/reset/reset200802.css%27");
@import "_grid";
@import "_home";
@import "_index";

@import "_connection";
@import "_add_photo";
@import "_add_gallery";

* {
  box-sizing: border-box;
}
html,
body {
  background-color: #f4f2ed;
  font-family: "Lobster Two", cursive;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  nav {
    background-color: #0ca3a5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    ul {
      display: flex;
      flex: 1; // Aggrandis le ul pour qu'il prenne toute la place dans la nav
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        a {
          height: 100%;
          display: inline-block;
          color: rgb(255, 255, 255);
          text-decoration: none;
          text-align: center;
          padding: 16px;
        }

        a:hover:not(.active) {
          background-color: #0b8b8d;
        }
      }

      li:last-child {
        margin-left: auto;
      }
    }

    .active {
      background-color: #296c6d;
    }

    form.search {
      margin-left: auto;
      height: 100%;

      input[type="text"] {
        height: 100%;
        width: 150px;
        padding: 0.5em;
        font-size: 1em;
        border: 1px solid grey;
        float: left;
        background: #f1f1f1;
        transition: width 0.7s ease-in-out;
      }

      input[type="text"]:focus {
        width: 300px;
      }

      button {
        height: 100%;
        padding: 0.5em;
        background: #2196f3;
        color: white;
        font-size: 1em;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }
      button:hover {
        background: #0b7dda;
      }
    }
  }
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

section.main {
  flex: 1 0 auto;
}

footer {
  background-color: #0ca3a5;
  height: 96px;
  text-align: center;
  flex-shrink: 0;
}
