/* Error: Undefined mixin.
 *   ,
 * 7 |   @include row();
 *   |   ^^^^^^^^^^^^^^
 *   '
 *   scss\_home.scss 7:3  @import
 *   scss\style.scss 3:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 7 \2502    @include row();\d\a   \2502    ^^^^^^^^^^^^^^\a   \2575 \a   scss\\_home.scss 7:3  @import\a   scss\\style.scss 3:9  root stylesheet";
}
